:root {
  --bg-color: #f5efe7;
  --text-color: #213555;
  --primary-color: #3e5879;
  --accent-color: #a6c3e8;
  --hover-color: #8db3e2;
  --card-bg: #ece9f2;
  --label-bg: #6f52b8;
  --project-bg: #2d3e60;

  --header-height: 5rem;
  --header-height-md: 4.5rem; /* 平板 */
  --header-height-sm: 4rem; /* 手機 */
  --header-height-xs: 7rem; /* 小手機 */
}
